# Environment Variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Distribution / Packaging
dist/
build/
*.egg-info/

# Project Specific Output
media/
output/
batch_output/

# Excluded Components
src/frontend/

# AGENTS
.agents/

# IDEs
.vscode/
.idea/
